<div class="container">
    <h1>Category</h1>
    <div class="row">
      <div class="col-md-4">
        <div id="sidebar" class="well sidebar-nav">
          <%= nested_pages @pages %>
        </div>
      </div>
      <div class="col-md-8">
        <%= render 'form' %>
      </div>
    </div>
</div>
